@import './variables.css';

.App {
    text-align: center;
}

.cs-main-container {
    border-style: none !important;
    border-radius: 1% !important;
}

.cs-message-list {
    background-color: var(--color-secondary) !important;
}

.cs-message-input {
    background-color: var(--color-secondary) !important;
}

.cs-button--send {
    color: var(--color-accent) !important;
}

.MainAppArea {
    padding: 20px;
}
